<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DODIRU Repacks</title>
</head>
<body>
    <h1>Bem vindo a página de repacks</h1>
    <hr>
    <p>Confira a lista de jogos: </p>
    <!-- Comentario html {# {Comentario Jinja 2} #} -->
     {# Comentario Jinja2 #}
    <ul>
        <li>{{title}}</li>
        <li>{{year}}</li>
        <li>{{category}}</li>
    </ul>
    <p>O jogo {{title}} tem {{2025 - year}} anos</p>
    <hr>
    <p>Estão jogando no momento</p>
    <ol>
        {% for player in players: %}
        <li>{{player}}</li>
        {% endfor %}
    </ol>
    <hr>
        
    <hr>
    <a href="/">Voltar para página inicial</a>
</body>
</html>